body {
    font-family: monospace, 'Open Sans Condensed';
    margin: 0;
    background-color: rgba(186, 184, 184, 0.31);
  }
  
  a {
    text-decoration: none;
    color: black;
  }

h5 {
    margin-top: 10%;
}

//For HomePage, UserPage, BookPage, LogsPage
main {
  background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5vh 5vw;
  }

//For ADD UPDATE DELETE BUTTON ON UserPage, BookPage, LogsPage
.cudButtons {
    display: flex;
    width:100%;
    justify-content: space-between;
}


  